               <div class="container">
                <div class="col-lg-4 d-flex flex-column align-items-center text-center">
                  <div class="col-lg-12 pb-2 ">
                     <h1 class="pt-2">Ayrılıyor musunuz?</h1>
                     <!-- 
                      oturumu kapatma
                      -->
                     <h3>Oturumu Kapatmak istediğinizden emin misiniz?</h3>
                     <a href=" " class="nav-link"><i class="fas fa-sign-out-alt fa-2x me-3"></i>Oturumu Kapat</a>
                  </div>
                </div>   

               </div>