.resim_yazi{
    position: absolute;
    top: 200px;
    left: 450px;
    font-size: 80px;
    color: #000;
}
.resim_yazi i{
    font-size: 80px;
  }
  .card{
      border: 2px solid #000;
  }
  #social_icon{
      font-size: 15px;
      
  }
.col-auto{
    width: 30px;
    height: 25px;
    border: 1px solid #000;
    margin: 1px 1px;
    padding: 2px 2px;
    background-color: rgb(188, 232, 240);
}