.slider-item
{
    width: auto;
    height: 900px;
    background-image: url("https://www.villafavori.com/uploads/new/villa%20vega%201/Villa-Vega-39.jpg");
    margin-bottom: 50px;
    position: relative;
}
